<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Статистика футбольної ліги </a>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-4">
            <p class="btn btn-block btn-default btn-lg">
                @Html.ActionLink("Всі ліги ", "GetLeagues", "Home")
            </p>
            <p class="btn btn-block btn-default btn-lg">
                @Html.ActionLink("Найрезультативніший день ", "GetBestDay")
            </p>
            <p class="btn btn-block btn-default btn-lg">
                @Html.ActionLink("Найкращі атакуючі команди", "GetBestAttackTeam", "League")
            </p>
            <p class="btn btn-block btn-default btn-lg">
                @Html.ActionLink("Найкращі захисні команди", "GetBestProtectionTeam", "League")
            </p>
            <p class="btn btn-block btn-default btn-lg">
                @Html.ActionLink("Найкращі команди за показником  забиті-прапущені", "GetBestTeam", "League")
            </p>
        </div>
        <div class="col-xs-7">
            @RenderBody()
        </div>
    </div>
</body>
</html>